// overflow: hidden;
// flex: 1;
// flex-basis: 1e-9px;
// overflow-y: auto;

@import '../App.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

// Animations

@keyframes slide-in {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes enter-background {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes exit-background {
    from { opacity: 1; }
    to { opacity: 0; }
}

.openTransition {
    .sideMenuBackdrop {
        animation: enter-background 0.3s ease-in-out forwards;
    }

    .sideMenuContent {
        animation: slide-in 0.3s ease-in-out forwards;
    }
}

.closeTransition {
    .sideMenuBackdrop {
        animation: exit-background 0.3s ease-in-out forwards;
    }

    .sideMenuContent {
        animation: slide-out 0.3s ease-in-out forwards;
    }
}

#sideMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 234px;
    height: 100%;

    z-index: 5000;

    .sideMenuBackdrop {
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: #00000090;
        left: 0;
        top: 0;

        z-index: 2;
    }

    .sideMenuContent {
        position: relative;
        background-color: #0F0F0F;
        height: 100%;

        z-index: 3;

        .sideMenuTop {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
    
            display: flex;
            align-items: center;
            padding-left: 16px;
    
            .burgerMenu {
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: 0;
                border-radius: 100%;
                transition: all 0.1s;
    
                &:hover {
                    background-color: #FFFFFF20;
                }
            
                svg {
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
    
            .logo {
                width: 120px;
                height: 56px;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                
                svg {
                    width: 90px;
                    height: 20px;
                    vertical-align: middle;
                }
            }
    
            span {
                @include text-primary();
                font-size: 10px;
                color: #AAA;
                margin: 12px 0 0 -10px;
                align-self: flex-start;
            }
        }
    }
}