@import '../App.scss';

#topOptions {
    position: fixed;
    width: calc(100% - 258px);
    height: 56px;
    top: 56px;
    left: 234px;
    padding: 0 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 998;
    background-color: #0F0F0F;
    column-gap: 12px;
    margin-left: 18px;
    overflow-x: auto;
    scrollbar-width: none;

    &.menuOpen {
        width: calc(100% - 88px);
        left: 64px;

        &::before {
            left: 64px;
            background: linear-gradient(to right, #0F0F0F 20%, rgba(33, 33, 33, 0) 80%);
        }

        .scrollButton.left {
            left: 64px;
        }
    }

    &::before, &::after {
        content: "";
        position: fixed;
        z-index: 2;
        width: 106px;
        height: 56px;
    }

    &::before {
        left: 234px;
        background: linear-gradient(to right, #0F0F0F 20%, rgba(33, 33, 33, 0) 80%);
    }

    &::after {
        right: 0px;
        background: linear-gradient(to left, #0F0F0F 20%, rgba(33, 33, 33, 0) 80%);
    }

    &.hideBefore::before,
    &.hideAfter::after {
        display: none;
    }
}

//Buttons Styles

.topOptionsButtons {
    position: relative;
    height: 32px;
    background-color: rgb(255 255 255 / 0.1);
    border: none;
    border-radius: 8px;
    padding: 0px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background;

    p {
        @include channel-info-text();
        white-space: nowrap;
        color: #f1f1f1;
        font-weight: 500;
    }

    &:first-of-type {       
        background-color: #f1f1f1;

        p {
            color: rgb(0, 0, 0);
        }

        &:hover {
            background-color: rgb(255 255 255 / 1);
        }
    }

    &:hover {
        background-color: rgb(255 255 255 / 0.2);
    }
}

.scrollButton {
    position: fixed;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: transparent;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    svg {
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    &.left {
        left: 234px;
        transform: rotate(90deg);
    }
    
    &.right {
        right: 12px;
        transform: rotate(-90deg);
    }

    &:hover {
        background-color: rgb(255 255 255 / 0.3);
    }
}

// Responsividade

@media #{$ws1313} {
    #topOptions {
        width: calc(100% - 88px);
        left: 64px;

        &::before {
            left: 64px;
            background: linear-gradient(to right, #0F0F0F 20%, rgba(33, 33, 33, 0) 80%);
        }

        .scrollButton.left {
            left: 64px;
        }   
    }
}

@media #{$ws791} {
    #topOptions {
        width: 100%;
        left: 0;
        margin-left: 0;
        padding-left: 12px;

        &.menuOpen {
            width: 100%;
            left: 0;
        }

        &::before {
            left: 0;
        }

        .scrollButton {
            &.left {
                left: 0;
            }
        }
    }
}